.overlay-bg {
  position: fixed;
  inset: 0;
  /* top:0, left:0, right:0, bottom:0 */
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 9;
}

.filter-wrapper {
  width: 300px !important;
  background: #3c5771;
  color: white;
  padding: 15px;
  border-radius: 0 10px 10px 0;
  overflow-y: auto;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
}

.filter-wrapper.hide {
  transform: translateX(-100%);
}

.filter-wrapper.show {
  transform: translateX(0);
}

.filters {
  display: flex;
  flex-direction: column;
}

.filters span,
.filters strong {
  padding-bottom: 20px;
}

.hover-card {
  transition: transform 0.3s ease-in-out;
}

.hover-card:hover {
  transform: scale(1.06);
}

.star {
  color: gold;
  font-size: 1.2rem;
  margin-right: 2px;
}

.sticky-cart-header {
  position: sticky;
  top: 82px;
  /* default desktop navbar height */
  z-index: 10;
}

@media (max-width: 992px) {
  .sticky-cart-header {
    top: 80px;
  }
}

@media (max-width: 767px) {
  .sticky-cart-header {
    top: 135px;
  }
}

@media (max-width: 576px) {

  /* Centered Toast Container */
  [class*="Toastify__toast-container--bottom"] {
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: 10px !important;
    width: 90% !important;
    max-width: 400px !important;
    padding: 0 !important;
  }

  /* Toast Box */
  .Toastify__toast {
    width: 100% !important;
    margin-bottom: 12px !important;
    border-radius: 12px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  /* Toast body text */
  .custom-toast-body {
    width: 100%;
    text-align: center !important;
  }
}